body {
    background-color: var(--c-1);
}

.graph-curve {

    transition: opacity calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1),
                transform calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1),
                background-color calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1);

    transition-duration: .5s;
}

.graph-curve.disappear {
    opacity: .1;
    transition: opacity calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1),
                transform calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1),
                background-color calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1);
    transition-duration: .5s; 
}

#y-axis{
    transition: opacity calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1);
    transition-duration: .4s;  
}

.higher, #x-axis {
    transition: opacity calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1),
                transform calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1),
                background-color calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1);
    transition-duration: .5s;  
}

/* -------------- SVG -------------- */

.curve-stroke {
    fill: none;
    stroke: #FFFFFF;
    stroke-miterlimit: 10;
}

.country-text {
    font-family: 'IBM Plex Mono';
    font-size: 16px;
}


.text-general {
    fill: #0033FF;
}

.st0 {
    fill: none;
    stroke: url(#SVGID_1_);
    stroke-miterlimit: 10;
}

.st1 {
    fill: url(#SVGID_2_);
}

.st2 {
    fill: none;
    stroke: #0033FF;
    stroke-miterlimit: 10;
}


.st4 {
    font-family: 'IBM Plex Mono';
}

.st5 {
    font-size: 14px;
}

.st6 {
    fill: none;
}

.st7 {
    fill: #F2F2F2;
    stroke: #0033FF;
    stroke-miterlimit: 10;
}

.st8 {
    opacity: 0.7;
}

.st9 {
    fill: url(#SVGID_3_);
}

.st10 {
    fill: #1E4BFD;
}

.st14 {
    fill: url(#SVGID_4_);
}

.st15 {
    fill: url(#SVGID_5_);
}

.st16 {
    fill: #244FFD;
}

.st17 {
    fill: url(#SVGID_6_);
}

.st18 {
    fill: #2D57FD;
}

.st19 {
    fill: url(#SVGID_7_);
}

.st20 {
    fill: #325AFC;
}

.st21 {
    fill: url(#SVGID_8_);
}

.st22 {
    fill: #385FFC;
}

.st23 {
    fill: url(#SVGID_9_);
}

.st24 {
    fill: #3D63FC;
}

.st25 {
    fill: url(#SVGID_10_);
}

.st26 {
    fill: #4065FC;
}

.st27 {
    fill: url(#SVGID_11_);
}

.st28 {
    fill: #466AFB;
}

.st29 {
    fill: url(#SVGID_12_);
}

.st30 {
    fill: #4E70FB;
}

.st31 {
    fill: url(#SVGID_13_);
}

.st32 {
    fill: #5878FA;
}

.st33 {
    fill: url(#SVGID_14_);
}

.st34 {
    fill: #6281FA;
}

.st35 {
    fill: url(#SVGID_15_);
}

.st36 {
    fill: #6683FA;
}

.st37 {
    fill: url(#SVGID_16_);
}

.st38 {
    fill: #6E8AF9;
}

.st39 {
    fill: url(#SVGID_17_);
}

.st40 {
    fill: #7A93F8;
}

.st41 {
    fill: url(#SVGID_18_);
}

.st42 {
    fill: #8199F8;
}

.st43 {
    fill: url(#SVGID_19_);
}

.st44 {
    fill: #8BA1F8;
}

.st45 {
    fill: url(#SVGID_20_);
}

.st46 {
    fill: #8FA4F7;
}

.st47 {
    fill: #98ABF7;
}

.st48 {
    fill: url(#SVGID_21_);
}

.st49 {
    fill: #9FB0F6;
}

.st50 {
    fill: url(#SVGID_22_);
}

.st51 {
    fill: #A8B8F6;
}

.st52 {
    fill: url(#SVGID_23_);
}

.st53 {
    fill: url(#SVGID_24_);
}

.st54 {
    fill: url(#SVGID_25_);
}

.st55 {
    fill: #BBC7F5;
}

.st56 {
    fill: url(#SVGID_26_);
}

.st57 {
    fill: url(#SVGID_27_);
}

.st58 {
    fill: url(#SVGID_28_);
}

.st59 {
    fill: #CCD4F4;
}

.st60 {
    fill: url(#SVGID_29_);
}

.st61 {
    fill: #D7DDF3;
}

.st62 {
    fill: url(#SVGID_30_);
}

.st63 {
    fill: #DDE1F3;
}

.st64 {
    fill: url(#SVGID_31_);
}

.st65 {
    fill: #E6E8F3;
}