/* * {
    cursor: url('src/assets/cursor.png'), auto;
} */

:root {
    --dot-size: 50px;
    font-family: "IBM Plex", Helvetica, sans-serif;
}

html {
    background-color: var(--c-1);
    /* overflow: hidden; */
}

body {
    background-color: var(--c-1);
}

h1.hate-title {
    font-family:"IBM Plex";
    font-size: 30px;
    letter-spacing: .5px;
    color: var(--c-2);
    border: var(--border) var(--c-2);
    padding: 5px 20px;
    /* padding: 0px 35px; */
    line-height: 1.4;
}

.tooltip-content {
    color: var(--c-2);
}

span.dot {
    height: var(--dot-size);
    width: var(--dot-size);
    /* background-color: #e05363; */
    border: var(--border) var(--c-2);
    opacity: .45;
    border-radius: 100%;
    display: inline-block;
    margin: var(--spacing);

    /* cursor: pointer; */
    z-index: 1;

    transition: opacity calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1),
        transform calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1),
        background-color calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1),
        border calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1);
    transition-duration: .35s;
}

.dot:hover {
    /* transform: scale(1); */
    opacity: .7;
    z-index: 10;
    border: 2px solid var(--c-2);
    /* #e05363; */

    transition: opacity calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1),
        transform calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1);
    transition-duration: .35s;
}

.dot.on {
    transition: background-color calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1),
                transform calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1);
    transition-duration: .35s;

    background-color: var(--c-2); */
    opacity: 1;

    /* border: 1px solid var(--c-2); */
    /* transform: scale(1.2); */
    z-index: 100;
}

.dot.onn {
    transition: background-color calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1),
        transform calc(var(--a-transition)/1.5) cubic-bezier(.65, 0, .15, 1);
    transition-duration: .35s;
    /* border: 1px solid #e05363; */
    /* background-color: rgba(224, 83, 99, .8); */
    background-color: var(--c-2);
    opacity: .7;
    z-index: 10;
}

/* Necessario per il tooltip */
#tooltip {
    opacity: 0;
    margin-top: 20px;
    margin-left: 20px;
    padding: 15px;
    position: fixed;
    z-index: 1000;
    width: auto;
    height: auto;
    max-width: 300px;

    border: var(--border) var(--c-2);

    color: var(--c-2);
    background: var(--c-1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    transition: opacity calc(var(--a-transition)/2) linear;
    transition-duration: .1s
}

#tooltip.summon {
    opacity: .90;
    transition: opacity calc(var(--a-transition)/2) ease-in-out;
    transition-duration: .4s
}

#hate-word-description {
    opacity: 0;
    display: inline-block;
    text-align: center;
    max-width: 600px;
    height: auto;
    color: var(--c-2);

    transition: opacity calc(var(--a-transition)/2) linear;
    transition-duration: .1s
}

#hate-word-description.appear {
    opacity: .90;
    transition: opacity calc(var(--a-transition)/2) ease-in-out;
    transition-duration: .4s
}


#hate-words {
    display: block;
    max-width: 860px;
    margin: 0 auto;
    padding-bottom: calc(var(--spacing) * 5);
}

#description-container {
    display: block;
    margin: auto;
    width: auto;
    height: 70px;
    text-align: center;
    padding: 20px;
    
}

#graph-container {
    top: 50%;
    display: block;
    margin: auto;
    width: 100
    %;
}