:root {
  --c-1: #e7e7e6;
  --c-2: #2b2b2b;
  --c-3: #e05363;
  --padding: 32px;

  font-family: "IBM Plex Light", Helvetica, sans-serif;

  color: var(--c-1);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "kern" on;
  -moz-font-feature-settings: "kern" on;
  -webkit-font-feature-settings: "kern" on;
  -ms-font-feature-settings: "kern" on;
  -o-font-feature-settings: "kern" on;
}

html,
body {
  background-color: var(--c-2);
  padding: 0;
  margin: 0;
}

p {
  font-family: "IBM Plex Light";
}

.container {
  width: 100%;
  max-width: 960px;
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;

  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;

  padding: var(--padding);
}

.grid-4 {
  position: relative;
}

.grid-2 {
  position: relative;
}

.grid-1 {
  position: relative;
}